.web_app_normal_churu{                                                                                                                                       
    user-select: none;
    width:100%;
    height:100%;
    background-image: url("/static/image/bg.jpg");
    background-size: 100% 100%;
}
.web_app_normal_churu_context{
    width: 20vw;
    height: 50vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:rgba(0,0,0,0.7);
    border-radius:5px;
}

.web_app_normal_churu_title{
     text-align:center;
    color:white;
    font-size:3vh;
    height:4vh;
    padding-top:2vh;
}

.web_app_normal_churu_name{
    width:100%;
    height:7vh;
    margin-top:2vh;
}
.web_app_normal_churu_id{
    width:100%;
    height:7vh;
}
.web_app_normal_churu_submit{
    width:100%;
    height:7vh;                                                                                                                                             
}
.web_app_normal_churu_return {
    width:100%;
    height:7vh;
}
.web_app_normal_churu_item{
    width:100%;
    height:100%;
}
.web_app_normal_churu_item > input{
    width:90%;
    line-height:3vh;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.web_app_normal_churu_submit button{
    color:white;
    width:90%;
    line-height:3vh;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:#4CAF50;
    border-radius:5px;
}
.web_app_normal_churu_return button{
    color:white;
    width:90%;
    line-height:3vh;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:#4CAF50;
    border-radius:5px;
}

