.web_app_manager_daka{                                                                                                                                       
    user-select: none;
    width:100%;
    height:100%;
    background-image: url("/static/image/bg.jpg");
    background-size: 100% 100%;
}
.web_app_manager_daka_context{
    width: 65vw;
    height: 75vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:rgba(0,0,0,0.7);
    border-radius:5px;
    margin-top:2px;
}

.web_app_manager_daka_title{
     text-align:center;
    color:white;
    font-size:3vh;
    height:4vh;
    padding-top:2vh;
}

.web_app_manager_daka_name{
    width:30%;
    height:7vh;
    margin-top:2vh;
    display: inline-block;
    margin-left:3vh;
}
.web_app_manager_daka_id{
    width:30%;
    height:7vh;
    display: inline-block;
    margin-top:2vh;
    margin-left:3vh;
}
.web_app_manager_daka_submit{
    width:30%;
    height:7vh;
    margin-top:2vh;

    display: inline-block;
}
.web_app_manager_daka_return {
    width:100%;
    height:7vh;
}
.web_app_manager_daka_item{
    width:100%;
    height:100%;
}
.web_app_manager_daka_item > input{
    width:100%;
    line-height:3vh;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.web_app_manager_daka_submit button{
    color:white;
    width:100%;
    line-height:3vh;
    position:relative;
    top:50%;
    margin-left:3vh;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:#4CAF50;
    border-radius:5px;
}
.web_app_manager_daka_return button{
    color:white;
    width:90%;
    line-height:3vh;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:#4CAF50;
    border-radius:5px;
}
.web_app_manager_daka_table{
    width:90%;
    background-color:white;
    margin:0 auto;
    margin-top:3vh;
}

