.web_app_normal_weihu{                                                                                                                                       
    user-select: none;
    width:100%;
    height:100%;
    background-image: url("/static/image/bg.jpg");
    background-size: 100% 100%;
}
.web_app_normal_weihu_context{
    width: 20vw;
    height: 58vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:rgba(0,0,0,0.7);
    border-radius:5px;
}

.web_app_normal_weihu_title{
     text-align:center;
    color:white;
    font-size:3vh;
    height:4vh;
    padding-top:2vh;
}

.web_app_normal_weihu_name{
    width:100%;
    height:7vh;
    margin-top:2vh;
}
.web_app_normal_weihu_id{
    width:100%;
    height:7vh;
}

.web_app_normal_weihu_kind{
    width:100%;
    height:7vh;
}

.web_app_normal_weihu_time{
    width:100%;
    height:7vh;
}

.web_app_normal_weihu_num{
    width:100%;
    height:7vh;
}
.web_app_normal_weihu_submit{
    width:100%;
    height:7vh; 

}
.web_app_normal_weihu_return {
    width:100%;
    height:7vh;
}
.web_app_normal_weihu_item{
    width:100%;
    height:100%;
}
.web_app_normal_weihu_item > input{
    width:90%;
    line-height:3vh;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.web_app_normal_weihu_submit button{
    color:white;
    width:90%;
    line-height:3vh;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:#4CAF50;
    border-radius:5px;
}
.web_app_normal_weihu_return button{
    color:white;
    width:90%;
    line-height:3vh;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:#4CAF50;
    border-radius:5px;
}

.web_app_normal_weihu_error_message{
    color:red;
    font-size:0.8vh;
    position:absolute;
    left:22vh;
    top:40.5vh;
}
